.modal{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}
.main{
    margin: auto;
    width:90%;
    height:90%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.7);
    left:10%;
    top:10%;
    padding:10px;
}
.cross{
    width: 100%;
    height: auto;
    display: flex;
    align-items: end;
    justify-content: end;
    margin:10px;
    padding-right:20px;
    cursor:pointer;
}
.cross img{
    transform: scale(0.8);
}
.section{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80%;
}
.img_section{
    width:100%;
    height:auto;
    padding:5px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.breadcrums{
    font-size: 1.3rem;
    padding:5px;
    padding-left:30px;
    font-weight: 600;
    text-decoration: underline;
    text-align:left;
}
.slash{
    text-decoration: none;
}
.product_img{
    border-radius: 30px;
    overflow:clip;
    width:100%;
    height:100%;
    padding:20px;
}
.product_img img{
    border-radius: 20px;
    object-fit: cover;
    width:100%;
}
.info_section{
    padding:20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap:10px;
}
.name{
    font-size:2rem;
    color:#222;
    font-weight: 700;
    text-align: left;
}
.brand{
    color:#818181;
    font-size:1rem;
    text-align: left;
    font-weight: 500;
}
.price{
    font-size: 1.2rem;
    color:#222;
    text-align: left;
    font-weight: 600;
}
.info{
    font-size: 1rem;
    color:#222;
    text-align: justify;
    padding: 5px;
}
.amount{
    justify-content: left;
    display: flex;
    padding:5px;
}
.amt_container{
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 30%;
}
.inc{
    width:20%;
    font-size: 1.3rem;
    color:white;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border:1px solid #222;
    border-right: none;
}
.dec{
    width: 20%;
    font-size: 1.3rem;
    color:white;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border:1px solid #222;
    border-left:none;
}
.window{
    width: 20%;
    background-color: white;
    border-top:1px solid #222;
    border-bottom:1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}

.add-to-cart, .buy-now{
    width:50%;
}
.cart-button{
    width:95%;
    margin: auto;
    border-radius: 999px;
    border:1px solid #222;
    color:#222;
    background-color: white;
    text-align: center;
    padding: 15px;
}
.now-buy{
    width:95%;
    margin: auto;
    border-radius: 999px;
    color:white;
    background-color: #222;
    text-align: center;
    outline: none;
    box-shadow: none;
    padding: 15px;
}
.star{
    display: flex;
    width: 100%;
}