.main{
    width:100%;
    height:100%;
    padding:20px;
    margin:0;
}
.cart{
    padding:20px;
    margin:auto;
    width: 100%;
}
.cart_title{
    color:#222;
    font-size: 1.5rem;
    font-weight:600;
    width:85%;
    text-align: left;
    padding-left: 10px;
    margin:auto;
}
.main_cart{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 20px;
    width:100%;
    height:100%;
}
.product_list{
    padding:20px;
    border-radius: 20px;
    background-color: white;
    width:90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap:5px;
    margin: auto;
    align-items: center;
}
.head{
    width:100%;
    height:20%;
    display: flex;
    flex-direction: row;
    color:#222;
    font-size: 1rem;
    font-weight: 600;
    justify-content: space-between;
}
.sections{
    width:15%;
    text-align: center;
}
.navbar2{
    display: flex;
    width:90vw;
    margin:2rem auto;
    margin-top:0;
    flex-direction: row;
    height:60px;
    padding-left:10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    top:0;
    left:5vw;
}
.btn button{
    width:90%;
}
.product_snip{
    width:100%;
    padding:20px 0;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    border-bottom: 2px solid #dad8d8;

}
.product_snip:last-child{
    border-bottom: none;
}
.add_section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width:15%;
    justify-content: center;
    padding-left: 50px;
}
.data_section{
    width: 15%;
    color: #afafaf;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}
.empty{
    display: flex;
    flex-direction: column;
    row-gap :20px;
    width:30%;
    margin:auto;
}
.empty img{
    object-fit: contain;
}
.empty_text{
    font-size:1.3rem;
    color: #ff4e5a;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding:5px;
}
.logg{
    font-size:1.3rem;
    color: #a7a7a7;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding:5px;
}

.icons img:hover{
    transform: scale(1.02);
   }
   #box:hover{
    transform: scale(1.2) !important;
   }